@font-face {
    font-family: 'CursedTimer'; 
    src: url("./CursedTimer.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}

body {
    touch-action: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EEEEEE;
    background-color: #000;
    background-image: url("1124.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    overflow: hidden; /* Prevent scrolling */
    position: relative; /* Ensure content stays in bounds */
}


#container {
    width: 100%;
    max-width: 575px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #1B244A;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    border: 1px solid #9AABD8;
    border-radius: 5px;
}

#homeScore, #guestScore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: "CursedTimer", sans-serif;
    background-color: rgba(0, 0, 0, 1);
    padding: 1rem;
    margin: 1rem;
    width: 150px;
    color: #F94F6D;
    height: 120px;

}

.score-btn {
    font-family: "CursedTimer", sans-serif;
    margin-top: 0em;
    padding: 10px 10px;
    font-size: 18px;
    background-color: transparent;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

#newGame-btn {
    margin-top: 3rem;
    padding: 10px 20px; 
    font-size: .8rem;
    font-weight: bold;
    background-color: #F94F6D;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1000; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
}

#newGame-btn:hover {
    background-color: #D83B4E;
}

.team-name {
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    color: #EEEEEE;
    border: none;
    margin-top: 1rem;
    width: 120px;
    outline: none;
    text-shadow: 2px 2px 2px #000;
}

@media screen and (max-width: 540px) {
    #newGame-btn {
        margin: 2rem auto;
        width: 90%;
    }
}

@media screen and (min-width: 540px) {
    #container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-height: 100vh;
    }
    
    #newGame-btn {
        margin: auto 0;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 250px) {
    #container {
        max-height: 100vh;
        overflow: auto;
        }
        
        #newGame-btn {
            max-width: 185px;
            padding: 14px 16px;

        }
        }